# Maven / Java
**/target/
**/.mvn/
*.class
*.jar
*.war
*.ear

# Node / Angular
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# H2
*.mv.db
*.trace.db
